.navbar{
    background-color: rgb(13, 94, 13);
}

.navbar-brand, .nav-link, .navbar-toggler{
    color: white;
}

.table{
    margin: auto; 
    margin-top: 6%; 
    width: 80%;
}

.img-fluid{
    width: 40%;
    margin-top: 6%;
}

.contenedor-img{
    text-align: center;
}